typeface-headline = 'AG',
                  -apple-system,
                  BlinkMacSystemFont,
                  'helvetica neue',
                  helvetica,
                  ubuntu,
                  roboto,
                  noto,
                  'segoe ui',
                  arial,
                  sans-serif

typeface-body =  'LB',
                georgia,
                times,
                serif

base-font-size = 16px
base-unit = 8px
base-line-height = (base-font-size*1.2)

easing = cubic-bezier(0.215, 0.61, 0.355, 1)
