.intro
  h2
    margin 0 0 rem-calc(144)

h2
  font-size 6.5vw
  line-height 7.8vw



.project
  position relative
  margin-bottom 40px
  transform-style preserve-3d
  transform perspective(1000px)
  will-change transform
  font-size 0

  &.interface-lovers
  &.t-photography
    h3
      left 8%
      bottom 10%

  &.phaedis
    h3
      left 11.8%
      bottom 9%

  &.microsoft
    h3
      left 11.8%
      bottom 11.8%

  &.foolography
    h3
      left 11.8%
      top 9%

  h3
    position absolute
    left 0
    z-index 1
    font-size 3vw
    line-height rem-calc(40)
    transform translateZ(100px)

    &.light
      color inherit

    &.dark
      color black

.detail
  font-family typeface-headline
  margin rem-calc(104) 0

  h4
    margin 0 0 rem-calc(32)

  ul
    li
      flexbox(flex)
      flex-flow(row wrap)
      justify-content(space-between)
      margin 0 0 16px

      &:last-child
        margin 0

      .left
      .right
        flex(1 auto)

      .left
        flex-grow(1)
        font-size rem-calc(18)
        font-weight 600

        a
          color white
          text-decoration none

      .right
        text-align right
        font-size rem-calc(16)
        font-weight 600

      .bottom
        margin rem-calc(4) 0 0
        color $grey-60
        flex 1 100%
        font-size rem-calc(16)
        font-weight 400
        color #BABABA


h4
  font-size rem-calc(22)


.ending
  margin rem-calc(40) 0
  font-family typeface-headline

  h4
    margin 0 0 rem-calc(16)

  a
    font-size rem-calc(18)
    margin 0 rem-calc(16) 0 0
    font-weight 600
    color white
    text-decoration none
