@font-face
  font-family 'AG'
  font-weight 600
  src url('/assets/fonts/ag/ag-b.woff2') format('woff2'),
      url('/assets/fonts/ag/ag-b.woff') format('woff'),
      url('/assets/fonts/ag/ag-b.ttf') format('truetype')

@font-face
  font-family 'LB'
  font-weight 400
  src url('/assets/fonts/lb/lb.woff2') format('woff2'),
      url('/assets/fonts/lb/lb.woff') format('woff'),
      url('/assets/fonts/lb/lb.ttf') format('truetype')

@font-face
  font-family 'LB'
  font-style italic
  font-weight 400
  src url('/assets/fonts/lb/lb-i.woff2') format('woff2'),
      url('/assets/fonts/lb/lb-i.woff') format('woff'),
      url('/assets/fonts/lb/lb-i.ttf') format('truetype')

@font-face
  font-family 'LB'
  font-weight 600
  src url('/assets/fonts/lb/lb-b.woff2') format('woff2'),
      url('/assets/fonts/lb/lb-b.woff') format('woff'),
      url('/assets/fonts/lb/lb-b.ttf') format('truetype')


h1,h2,h3,h4,h5,h6
  font-family typeface-headline
  margin 0
